<div class="item">
    <div>Avatar URL</div>
    <div>
        <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{ aluno.avatar_url }}"
            >
    </div>
</div>

<div class="item">
    <div>Nome</div>
     <div>
        <input
            type="text"
            name="name"
            placeholder="Nome do aluno"
            value="{{ aluno.name }}"
            >
    </div>
</div>

<div class="item">
    <div>Email</div>
     <div>
        <input
            type="email"
            name="email"
            placeholder="digite seu e-mail"
            value="{{ aluno.email }}"
            >
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input 
            type="date"
            name="birth"
            value="{{ aluno.birth }}"
            >
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="M" 
                {% if aluno.gender == 'M' %}
                    checked
                {% endif %}>Masculino
        </span>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="F"
                {% if aluno.gender == 'F' %}
                    checked
                {% endif %}>Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>Tipo Sanguíneo</div>
    <div>
        <select name="blood">
            <option value="A1"
            {% if aluno.blood == "A1" %} selected {% endif %}
            >A+</option>
            <option value="A0"
            {% if aluno.blood == "A0" %} selected {% endif %}
            >A-</option>
            <option value="B1"
            {% if aluno.blood == "B1" %} selected {% endif %}
            >B+</option>
            <option value="B0"
            {% if aluno.blood == "B0" %} selected {% endif %}
            >B-</option>
            <option value="AB1"
            {% if aluno.blood == "AB1" %} selected {% endif %}
            >AB+</option>
            <option value="AB0"
            {% if aluno.blood == "AB0" %} selected {% endif %}
            >AB-</option>
            <option value="O1"
            {% if aluno.blood == "O1" %} selected {% endif %}
            >O+</option>
            <option value="O0"
            {% if aluno.blood == "O0" %} selected {% endif %}
            >O-</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Peso em (kg)</div>
    <div>
        <input 
            type="number"
            name="weight"
            value="{{ aluno.weight }}"
            >
    </div>
</div>

<div class="item">
    <div>Altura em (cm)</div>
    <div>
        <input 
            type="number"
            name="height"
            value="{{ aluno.height }}"
            >
    </div>
</div>


<button type="submit">Salvar</button>